<section class="relative mt-8 bg-blueGray-50">
<div class="w-full mb-12 px-4">  
  <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg 
  bg-orange-900 text-white">
    <div class="rounded-t mb-0 px-4 py-3 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full px-4 max-w-full flex-grow flex-1 ">
          <h3 style="text-align:center; font-size: 3.5em">PROYECTO INGENIERIA WEB - GENERADOR DE MULTAS</h3>
        </div>
      </div>
    </div>
    <div class="block w-full overflow-x-auto ">
      <table class="items-center w-full bg-transparent border-collapse">
        <thead>
          <tr>
            <th class="px-8 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-white-800 text-orange-300 border-black-700">NOMBRE</th>
            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-white-800 text-orange-300 border-black-700">Item</th>
            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-white-800 text-orange-300 border-black-700">FECHA INICIO</th>
            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-white-800 text-orange-300 border-black-700">FECHA FIN</th>
            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-white-800 text-orange-300 border-black-700">FECHA ENTREGA</th>
            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-white-800 text-orange-300 border-black-700">ESTADO</th>
            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-white-800 text-orange-300 border-black-700">MULTA</th>
          </tr>
        </thead>

        <tbody>
            {{#if allborrowers}}
                {{#each allborrowers}}
                    <tr>
                        <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                            <span class="ml-3 font-bold text-white"> {{loan.user}} </span>
                        </th>
                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{loan.item}}</td>
                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex">
                                {{loan.startDate}}
                            </div>
                        </td>
                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">
                                <span class="mr-2">{{loan.endDate}}</span>
                            </div>
                        </td>
                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">
                                <span class="mr-2">{{loan.deliveryDate}}</span>
                            </div>
                        </td>
                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        {{loan.state}}</td>                                                
                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">
                                <span class="mr-2">$ {{loan.multaValor}}</span>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>